@define-color view_fg_color @dark_4;
@define-color code_bg_color mix(@window_bg_color, @view_fg_color, 0.15);
@define-color light_accent_fg_color @purple_2;

entry.manuscript-title {
  border-radius: .25rem;
  padding: .5rem;
  transition: background-color .3s ease, color .3s ease;
}

entry.manuscript-title:hover {
  background-color: @accent_color;
  color: @light_2;
}

.transparent-bg {
  background-color: rgba(0, 0, 0, 0);
}

.default-bg {
  background: mix(@window_bg_color, @light_3, 0.2);
}

.editor-view-placeholder-label {
  filter: opacity(60%);
  font-size: 1.5rem;
}

textview.view {
  font-family: iA Writer Duospace;
  font-size: 1.2rem;
}
